:root {
  --brandgreendark: rgba(64, 178, 80, 1);
  --brandgreenlight: rgba(175, 238, 184, 1);
  --brandpink: rgba(249, 221, 220, 1);
  --container-100: rgba(242, 243, 247, 1);
  --container-200: rgba(222, 225, 235, 1);
  --container-300: rgba(188, 196, 216, 1);
  --container-400: rgba(162, 172, 200, 1);
  --container-500: rgba(135, 148, 184, 1);
  --container-600: rgba(110, 122, 159, 1);
  --container-700: rgba(85, 95, 123, 1);
  --container-800: rgba(61, 68, 88, 1);
  --container-900: rgba(37, 41, 53, 1);
  --containerblack: rgba(0, 0, 0, 1);
  --containerwhite: rgba(255, 255, 255, 1);
  --defaultsystembluedark: rgba(10, 132, 255, 1);
  --defaultsystembluelight: rgba(0, 122, 255, 1);
  --heading-01-bold-font-family: "Inter", Helvetica;
  --heading-01-bold-font-size: 24px;
  --heading-01-bold-font-style: normal;
  --heading-01-bold-font-weight: 700;
  --heading-01-bold-letter-spacing: 0px;
  --heading-01-bold-line-height: 150%;
  --heading-01-regular-font-family: "Inter", Helvetica;
  --heading-01-regular-font-size: 24px;
  --heading-01-regular-font-style: normal;
  --heading-01-regular-font-weight: 500;
  --heading-01-regular-letter-spacing: 0px;
  --heading-01-regular-line-height: 150%;
  --heading-02-bold-font-family: "Inter", Helvetica;
  --heading-02-bold-font-size: 20px;
  --heading-02-bold-font-style: normal;
  --heading-02-bold-font-weight: 700;
  --heading-02-bold-letter-spacing: 0px;
  --heading-02-bold-line-height: 150%;
  --iconon-darkactive: rgba(255, 255, 255, 1);
  --iconon-lightactive: rgba(12, 14, 18, 1);
  --iconon-lightalert: rgba(255, 68, 56, 1);
  --iconon-lightdisable: rgba(188, 196, 216, 1);
  --iconon-lightenable: rgba(110, 122, 159, 1);
  --label-colordarkprimary: rgba(255, 255, 255, 1);
  --label-colorlightprimary: rgba(0, 0, 0, 1);
  --subtitle-01-bold-font-family: "Inter", Helvetica;
  --subtitle-01-bold-font-size: 16px;
  --subtitle-01-bold-font-style: normal;
  --subtitle-01-bold-font-weight: 700;
  --subtitle-01-bold-letter-spacing: 0px;
  --subtitle-01-bold-line-height: 150%;
  --subtitle-01-regular-font-family: "Inter", Helvetica;
  --subtitle-01-regular-font-size: 16px;
  --subtitle-01-regular-font-style: normal;
  --subtitle-01-regular-font-weight: 500;
  --subtitle-01-regular-letter-spacing: 0px;
  --subtitle-01-regular-line-height: 150%;
  --subtitle-02-bold-font-family: "Inter", Helvetica;
  --subtitle-02-bold-font-size: 14px;
  --subtitle-02-bold-font-style: normal;
  --subtitle-02-bold-font-weight: 700;
  --subtitle-02-bold-letter-spacing: 0px;
  --subtitle-02-bold-line-height: 150%;
  --subtitle-02-regular-font-family: "Inter", Helvetica;
  --subtitle-02-regular-font-size: 14px;
  --subtitle-02-regular-font-style: normal;
  --subtitle-02-regular-font-weight: 500;
  --subtitle-02-regular-letter-spacing: 0px;
  --subtitle-02-regular-line-height: 150%;
  --subtitle-03-bold-font-family: "Inter", Helvetica;
  --subtitle-03-bold-font-size: 12px;
  --subtitle-03-bold-font-style: normal;
  --subtitle-03-bold-font-weight: 700;
  --subtitle-03-bold-letter-spacing: 0px;
  --subtitle-03-bold-line-height: 150%;
  --subtitle-03-regular-font-family: "Inter", Helvetica;
  --subtitle-03-regular-font-size: 12px;
  --subtitle-03-regular-font-style: normal;
  --subtitle-03-regular-font-weight: 500;
  --subtitle-03-regular-letter-spacing: 0px;
  --subtitle-03-regular-line-height: 150%;
  --system-backgroundlightprimary: rgba(255, 255, 255, 1);
  --title2-regular-font-family: "SF Pro Display", Helvetica;
  --title2-regular-font-size: 22px;
  --title2-regular-font-style: normal;
  --title2-regular-font-weight: 400;
  --title2-regular-letter-spacing: 0.3499999940395355px;
  --title2-regular-line-height: 28px;
}
