.screen-13 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-13 .bookshelf-3 {
  background-color: #ffffff;
  height: 640px;
  position: relative;
  width: 360px;
}

.screen-13 .frame-99 {
  align-items: center;
  display: flex;
  height: 94px;
  justify-content: space-between;
  left: 0;
  padding: 0px 8px;
  position: absolute;
  top: 546px;
  width: 360px;
}

.screen-13 .frame-100 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 80px;
}

.screen-13 .group-29 {
  height: 32px;
  position: relative;
  width: 32px;
}

.screen-13 .overlap-group-14 {
  background-image: url(../../../static/img/rectangle-2-4.svg);
  background-size: 100% 100%;
  border: 2px solid;
  border-color: #000000;
  height: 34px;
  left: -3px;
  position: relative;
  top: -3px;
  width: 34px;
}

.screen-13 .rectangle-19 {
  height: 34px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 34px;
}

.screen-13 .text-wrapper-103 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-13 .text-wrapper-104 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
  white-space: nowrap;
}

.screen-13 .frame-101 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  left: 17px;
  position: absolute;
  top: 133px;
}

.screen-13 .frame-102 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
  width: 320px;
}

.screen-13 .rectangle-20 {
  height: 114px;
  object-fit: cover;
  position: relative;
  width: 86px;
}

.screen-13 .frame-103 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  position: relative;
}

.screen-13 .frame-104 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7px;
  position: relative;
}

.screen-13 .text-wrapper-105 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-13 .text-wrapper-106 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.screen-13 .text-wrapper-107 {
  color: #7b7b7b;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.screen-13 .frame-105 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.screen-13 .frame-106 {
  align-items: center;
  border: 1px solid;
  border-color: #000000;
  border-radius: 40px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 6px 12px;
  position: relative;
}

.screen-13 .text-wrapper-108 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.screen-13 .more-horiz-3 {
  height: 24px;
  position: relative;
  width: 24px;
}

.screen-13 .frame-107 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  left: 20px;
  position: absolute;
  top: 81px;
  width: 320px;
}

.screen-13 .frame-108 {
  align-items: center;
  background-color: #dfdfdf;
  border: 1px solid;
  border-color: #000000;
  border-radius: 40px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 6px 10px;
  position: relative;
}

.screen-13 .text-wrapper-109 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.screen-13 .frame-109 {
  align-items: center;
  border: 1px solid;
  border-color: #000000;
  border-radius: 40px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 6px 10px;
  position: relative;
}

.screen-13 .add-box-3 {
  height: 24px;
  left: 310px;
  position: absolute;
  top: 26px;
  width: 24px;
}
