.notification-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.notification-screen .notification-2 {
  background-color: #ffffff;
  height: 640px;
  position: relative;
  width: 360px;
}

.notification-screen .frame-wrapper {
  background-color: #f1f1f1;
  height: 138px;
  left: 0;
  position: absolute;
  top: 62px;
  width: 360px;
}

.notification-screen .frame-34 {
  align-items: flex-start;
  display: flex;
  gap: 13px;
  left: 20px;
  position: relative;
  top: 10px;
  width: 320px;
}

.notification-screen .rectangle-9 {
  height: 114px;
  object-fit: cover;
  position: relative;
  width: 86px;
}

.notification-screen .frame-35 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.notification-screen .frame-36 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.notification-screen .frame-37 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7px;
  position: relative;
}

.notification-screen .text-wrapper-28 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.notification-screen .text-wrapper-29 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.notification-screen .text-wrapper-30 {
  color: #7b7b7b;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.notification-screen .frame-38 {
  align-items: center;
  border: 1px solid;
  border-color: #000000;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 6px 12px;
  position: relative;
}

.notification-screen .text-wrapper-31 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.notification-screen .arrow-back-ios-2 {
  display: block;
  height: 24px;
  left: 25px;
  position: absolute;
  top: 24px;
  width: 24px;
}

.notification-screen .text-wrapper-32 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 140px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  white-space: nowrap;
}

.notification-screen .frame-39 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  left: 20px;
  position: absolute;
  top: 220px;
}

.notification-screen .frame-40 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 320px;
}

.notification-screen .group-13 {
  height: 40px;
  position: relative;
  width: 40px;
}

.notification-screen .overlap-group-5 {
  height: 40px;
  position: relative;
}

.notification-screen .ellipse-4 {
  background-color: #d9d9d9;
  border-radius: 15px;
  height: 30px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 30px;
}

.notification-screen .group-14 {
  background-image: url(../../../static/img/account-circle-12.png);
  background-size: 100% 100%;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.notification-screen .frame-41 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
  justify-content: center;
  position: relative;
}

.notification-screen .text-wrapper-33 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.notification-screen .text-wrapper-34 {
  align-self: stretch;
  color: #a1a1a1;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.notification-screen .frame-42 {
  align-items: center;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 8px 10px;
  position: relative;
}

.notification-screen .text-wrapper-35 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
  width: fit-content;
}

.notification-screen .frame-43 {
  align-items: center;
  border: 2px solid;
  border-color: #c9c9c9;
  border-radius: 10px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 8px 10px;
  position: relative;
}

.notification-screen .text-wrapper-36 {
  color: #c9c9c9;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
  width: fit-content;
}
