.upload {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.upload .div-6 {
  background-color: #ffffff;
  height: 640px;
  position: relative;
  width: 360px;
}

.upload .arrow-back-ios-6 {
  height: 24px;
  left: 25px;
  position: absolute;
  top: 24px;
  width: 24px;
}

.upload .text-wrapper-58 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 145px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  white-space: nowrap;
}

.upload .overlap-group-9 {
  height: 130px;
  left: 121px;
  position: absolute;
  top: 72px;
  width: 101px;
}

.upload .rectangle-14 {
  border: 2px solid;
  border-color: #000000;
  height: 114px;
  left: 0;
  position: absolute;
  top: 0;
  width: 86px;
}

.upload .photo-camera-wrapper {
  background-color: #d9d9d9;
  border: 2px solid;
  border-color: #000000;
  border-radius: 20px;
  height: 32px;
  left: 69px;
  position: absolute;
  top: 98px;
  width: 32px;
}

.upload .photo-camera {
  height: 18px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 18px;
}

.upload .frame-67 {
  align-items: center;
  display: flex;
  gap: 12px;
  left: 40px;
  position: absolute;
  top: 222px;
  width: 280px;
}

.upload .text-wrapper-59 {
  color: #000000;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.upload .frame-68 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 4px;
  height: 30px;
  position: relative;
  width: 199px;
}

.upload .text-wrapper-60 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 71px;
  width: 69px;
}

.upload .frame-69 {
  align-items: center;
  display: flex;
  gap: 12px;
  left: 40px;
  position: absolute;
  top: 264px;
  width: 280px;
}

.upload .text-wrapper-61 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 313px;
}

.upload .text-wrapper-62 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 435px;
}

.upload .frame-70 {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 6px 6px;
  left: 40px;
  position: absolute;
  top: 351px;
  width: 280px;
}

.upload .frame-71 {
  align-items: center;
  border: 1px solid;
  border-color: #000000;
  border-radius: 40px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 6px 10px;
  position: relative;
}

.upload .text-wrapper-63 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.upload .text-wrapper-64 {
  color: #c1c1c1;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 308px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.upload .ellipse-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 10px;
  left: 41px;
  position: absolute;
  top: 468px;
  width: 10px;
}

.upload .ellipse-8 {
  background-color: #000000;
  border-radius: 3px;
  height: 6px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 6px;
}

.upload .ellipse-9 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 10px;
  left: 41px;
  position: absolute;
  top: 495px;
  width: 10px;
}

.upload .ellipse-10 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 10px;
  left: 41px;
  position: absolute;
  top: 522px;
  width: 10px;
}

.upload .ellipse-11 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 10px;
  left: 42px;
  position: absolute;
  top: 552px;
  width: 10px;
}

.upload .text-wrapper-65 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 464px;
}

.upload .text-wrapper-66 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 491px;
}

.upload .text-wrapper-67 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 518px;
}

.upload .text-wrapper-68 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 548px;
}

.upload .lock {
  height: 16px;
  left: 111px;
  position: absolute;
  top: 492px;
  width: 16px;
}

.upload .person-add {
  height: 16px;
  left: 184px;
  position: absolute;
  top: 519px;
  width: 16px;
}

.upload .person-cancel {
  height: 16px;
  left: 194px;
  position: absolute;
  top: 550px;
  width: 16px;
}
